<!-- HEADER PART -->
{% include './reg_header.html' %}


<!--  MAIN CONTENT -->
{% block body %}


<!-- <div class="wrapper">
    <div class="inner">
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        {% endif %}
    </div>
</div> -->

<!-- <div class="container">
    
</div> -->

{% endblock body %}


<!-- FOOTER PART -->
{% include './reg_footer.html' %}