{% extends 'auth/auth_base.html' %}
{% load static %}

{% block body %}

	<body>
		<div class="wrapper">
			<div class="inner">
				<!-- <img src="{% static 'reg_images/image-1.png' %}" alt="" class="image-1"> -->
				<form action="" method="POST">
                    {% csrf_token %}
					<h3>Login !</h3>
					<div class="form-holder">
						<span class="lnr lnr-user"></span>
						<input name="username" type="text" class="form-control" placeholder="Username or Mobile Number">
					</div>
					<!-- <div class="form-holder">
						<span class="lnr lnr-envelope"></span>
						<input name="" type="text" class="form-control" placeholder="Mail">
					</div> -->
					<div class="form-holder">
						<span class="lnr lnr-lock"></span>
						<input name="pass1" type="password" class="form-control" placeholder="Password">
					</div>
					<button type="submit">
						<span>Login</span>
					</button>
					<br>
					<center>
						<span>New Here, Please </span><a href="{% url 'register_url' %}">Create an Account</a>
					</center>
				</form>
				<!-- <img src="{% static 'reg_images/image-2.png' %}" alt="" class="image-2"> -->
			</div>
		</div>



{% endblock body %}
